
<div class="row my-2">
  <div class="col">
    <form class="form-inline" action="<%= books_path %>">
      <div class="form-group mb-2">
        <label for="book-title" class="sr-only">Book title</label>
        <input type="text" readonly class="form-control" id="book-title" placeholder="Book title">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <th scope="row">
        <!--<img src="<%= book.coverUrl %>" class="figure-img img-fluid rounded" >-->
        <%= book.id %>
      </th>
      <td>
        <a href="<%= book_path(book.id) %>">
          <%= book.title %>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>